/node_modules/
/.env
/build/static/css/2.847a128f.chunk.css
/build/static/css/2.847a128f.chunk.css.map
/build/static/js/2.22015852.chunk.js
/build/static/js/2.22015852.chunk.js.LICENSE.txt
/build/static/js/2.22015852.chunk.js.map
/build/404.html
/build/_redirects
/coverage/lcov-report/src/App.js.html
/build/asset-manifest.json
/build/static/images/auth.jpeg
/build/static/images/avatars/avatar_1.png
/build/static/images/avatars/avatar_2.png
/build/static/images/avatars/avatar_3.png
/build/static/images/avatars/avatar_4.png
/build/static/images/avatars/avatar_5.png
/build/static/images/avatars/avatar_6.png
/build/static/images/avatars/avatar_7.png
/build/static/images/avatars/avatar_8.png
/build/static/images/avatars/avatar_9.png
/build/static/images/avatars/avatar_10.png
/build/static/images/avatars/avatar_11.png
/coverage/lcov-report/base.css
/coverage/lcov-report/block-navigation.js
/coverage/clover.xml
/coverage/coverage-final.json
/build/favicon.ico
/coverage/lcov-report/favicon.png
/coverage/lcov-report/src/tmp/Foo.js.html
/build/index.html
/coverage/lcov-report/src/tmp/index.html
/coverage/lcov-report/src/views/contracts/ContractListView/components/index.html
/coverage/lcov-report/src/index.html
/coverage/lcov-report/index.html
/.idea/kit-refonteUi.iml
/coverage/lcov.info
/build/static/logo.svg
/build/static/js/main.ceb0a393.chunk.js
/build/static/js/main.ceb0a393.chunk.js.map
/build/manifest.json
/.idea/modules.xml
/build/static/images/not_found.png
/coverage/lcov-report/prettify.css
/coverage/lcov-report/prettify.js
/build/static/images/products/product_1.png
/build/static/images/products/product_2.png
/build/static/images/products/product_3.png
/build/static/images/products/product_4.png
/build/static/images/products/product_5.png
/build/static/images/products/product_6.png
/build/static/js/runtime-main.ad976887.js
/build/static/js/runtime-main.ad976887.js.map
/coverage/lcov-report/src/views/contracts/ContractListView/components/SearchContractRequest.js.html
/coverage/lcov-report/src/views/contracts/ContractListView/components/SearchOptionsForContract.js.html
/coverage/lcov-report/sort-arrow-sprite.png
/coverage/lcov-report/sorter.js
/coverage/lcov-report/src/tmp/sum.js.html
/build/static/images/undraw_page_not_found_su7k.svg
/build/static/images/undraw_resume_folder_2_arse.svg
/.idea/vcs.xml
/.idea/workspace.xml
